<div class="links-box">
    <a asp-area="Admin" asp-controller="Categories" asp-action="Index">Manage Categories</a>
    <a asp-area="Admin" asp-controller="Posts" asp-action="Index">Manage Posts</a>
</div>
