@{ 
    ViewBag.Title = "Error " + ViewBag.ErrorCode;
}

<center>
    <div>
        <h2 style="font-size: 6em; margin-bottom: 0; color: indianred;">@ViewBag.ErrorCode</h2>
        <h1 style="text-align: left;">@ViewBag.ErrorMessage</h1>
    </div>
</center>