@{ 
    bool isAdmin = User.IsInRole("admin");
}

<nav id="menu">
    <h2>Categories</h2>
    <hr />
    @if (isAdmin)
    {
        <ul>
            <li><b>Admin</b></li>
            <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">Manage Content</a></li>
            <li><a asp-area="Admin" asp-controller="Posts" asp-action="Index">Posts</a></li>
            <li><a asp-area="Admin" asp-controller="Categories" asp-action="Index">Categories</a></li>
        </ul>

        <hr />
    }

    <ul>
        <li><a asp-area="" asp-controller="Home" asp-action="Index"><b>Home</b></a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Show" asp-route-category="Books">Books</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Show" asp-route-category="Programming">Programming</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Show" asp-route-category="Physics">Physics</a></li>
    </ul>
</nav>