@{ 
    bool isAdmin = User.IsInRole("admin");
}

<nav id="menu">
    <h2>Categories</h2>
    <hr />
    @if (isAdmin)
     {
        <ul>
            <li><b>Admin</b></li>
            <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">Manage Content</a></li>
            <li><a asp-area="Admin" asp-controller="Posts" asp-action="Index">Posts</a></li>
            <li><a asp-area="Admin" asp-controller="Categories" asp-action="Index">Categories</a></li>
            <li><a asp-area="Admin" asp-controller="Home" asp-action="CustomerIssues">Issues</a></li>
        </ul>

        <hr />
    }
    else
    { 
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index"><b>Home</b></a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Posts">Posts</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Categories</a></li>
        </ul>
    }

    <br />

    @if (User.Identity.IsAuthenticated)
    {
        <h4>You are logged in as @User.Identity.Name</h4>
        <br />
        <h3><a asp-area="" asp-controller="Account" asp-action="Logout" style="color: indianred;">Log out</a></h3>
    }
    else
    {
        <h3><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></h3>
        <h3><a asp-area="" asp-controller="Account" asp-action="Login">Log in now</a></h3>
    }
</nav>