@model IQueryable<Category>

<div>
    <a asp-area="Admin" asp-controller="Categories" asp-action="Edit" asp-route-id="">
        <h2>Add a new category</h2>
    </a>
</div>


@if (Model.Any())
{
    @foreach (Category category in Model)
    {
        <div class="enumerable-box">
            <div class="edit-box">
                <a asp-area="Admin" asp-controller="Categories" asp-action="Edit" asp-route-id="@category.Id">
                    <h2>@category.Title</h2>
                </a>
                <a asp-area="Admin" asp-controller="Categories" asp-action="Delete" asp-route-id="@category.Id"><h3>Delete</h3></a>
            </div>

        </div>
    }
}
else
{
    <h1>There are no categories yet.</h1>
}