@model IQueryable<Category>
@{ 
    int styleIterator = 0;
}

<div>
    <a asp-area="Admin" asp-controller="Categories" asp-action="Edit" asp-route-id="">
        <h2>Add a new category</h2>
    </a>
</div>


@if (Model.Any())
{
    <section class="tiles">
        @foreach (Category category in Model)
        {
            styleIterator++;
            @await Html.PartialAsync("CategoryPartial", category, new ViewDataDictionary(ViewData) { { "styleIterator", styleIterator } });
        }
    </section>
}
else
{
    <h1>There are no categories yet.</h1>
}