@model PaginatedList<Category>
@{
    int styleIterator = 0;
    ViewBag.Title = "Erratas";
    string previousClass = Model.PreviousPageExists ? "button" : "button disabled";
    string nextClass = Model.NextPageExists ? "button primary" : "button primary disabled";
}

<header>
    <h1>
        This is Erratas, a modern social news aggregation,<br />
        news and tech themed forum.
    </h1>
    <blockquote>"Tell me and I forget. Teach me and I remember. Involve me and I learn." - Benjamin Franklin.</blockquote>
</header>

<h2>Checkout posts covering this topics!</h2>

@if (Model.Any())
{
    <section class="tiles">
        @foreach (Category category in Model)
        {
            styleIterator++;
            @await Html.PartialAsync("CategoryPartial", category, new ViewDataDictionary(ViewData) { { "styleIterator", styleIterator } });
        }
    </section>
    <div style="margin-top: 5vh;">
        <a class="@previousClass" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex - 1)">Previous</a>
        <a class="@nextClass" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex + 1)">Next</a>
    </div>
}
else
{
    <h1>There are no categories yet.</h1>
}