@model List<Post>
@{
    // set the input tag placeholder to ViewBag.Query
    int styleIterator = 0;
}
<p>@ViewBag.Query</p>

@if (Model.Any())
{
    <p>Posts: @Model.Count</p>
    <section class="tiles">
        @foreach (Post post in Model)
        {
            styleIterator++;
            @await Html.PartialAsync("PostPartial", post, new ViewDataDictionary(ViewData) { { "styleIterator", styleIterator } });
        }
    </section>
}
else
{
    <p>Sorry, we couldn't find posts with a search term of '@ViewBag.Query'.</p>
}