@model PaginatedList<Post>
@{
    int styleIterator = 0;

    string previousClass = Model.PreviousPageExists ? "button" : "button disabled";
    string nextClass = Model.NextPageExists ? "button primary" : "button primary disabled";
}

<div>
    <a asp-area="Admin" asp-controller="Posts" asp-action="Edit" asp-route-id="">
        <h2>Add a new post</h2>
    </a>
</div>


@if (Model.Any())
{
    <section class="tiles">
        @foreach (Post post in Model)
        {
            styleIterator++;
            @await Html.PartialAsync("PostPartial", post, new ViewDataDictionary(ViewData) { { "styleIterator", styleIterator } });
        }
    </section>
    <div style="margin-top: 5vh;">
        <a class="@previousClass" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex - 1)">Previous</a>
        <a class="@nextClass" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex + 1)">Next</a>
    </div>
}
else
{
    <h1>There currently aren't any posts.</h1>
}