@model IQueryable<Post>
@{
    int styleIterator = 0;
}

<div>
    <a asp-area="Admin" asp-controller="Posts" asp-action="Edit" asp-route-id="">
        <h2>Add a new post</h2>
    </a>
</div>


@if (Model.Any())
{
    <section class="tiles">
        @foreach (Post post in Model)
        {
            styleIterator++;
            @await Html.PartialAsync("PostPartial", post, new ViewDataDictionary(ViewData) { { "styleIterator", styleIterator } });
        }
    </section>
}
else
{
    <h1>There currently aren't any posts.</h1>
}